body {
  background: #ddd;
}

.btn {
  padding: 15px;
  font-size: 1.17em;
  margin: 0 20px;
}

.hobbyForm,
.homeForm,
.workForm {
  margin-top: 50px;
}

.workForm,
.hobbyForm,
.homeForm
{
  display: none;
}
